body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

nav {
    height: 80px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

nav ul li {
    margin-right: 20px;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav .active {
    font-weight: bold;
}

.container {
    width: 960px;
    margin: 0 auto;
}

header {
    border-bottom: 2px solid #008800;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*LOGIN page*/

.login-form {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #aeaeae;
    border-radius: 5px;
    margin-top: 20px;
}

.login-form__greeting{
    text-align: center;
    border-bottom: 1px solid #aeaeae;
    padding-bottom: 10px;
}

.login-form__greeting h2{
    margin-top: 10px;
    margin-bottom: 10px;
}


.login-form__body{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.login-form__body .login-form__title{
    display: block;
    text-align: center;
    color: #008800;
    font-size: 28px;
    margin-bottom: 10px;
}

.login-form__body select{
    height: 30px;
    font-size: inherit;
}

.login-form__body button{
    margin-top: 15px;
    height: 30px;
    background-color: #008000;
    color: #fff;
    font-size: inherit;
    border: none;
    border-radius: 5px;
}


/*HOME page*/




